<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css">


  <title>Project Fitness</title>
</head>

<body>
  <nav class="navbar navbar-light">

    <span>
      <button type="submit" class="btn btn-dark btn-sm login" data-toggle="collapse" data-target=".collapseLogin" role="button"
        aria-expanded="false" aria-controls="multiCollapseExample1">
        <i class="material-icons">person</i>
        Login</button>

      <button class="btn btn-light btn-sm signUp" data-toggle="collapse" data-target=".collapseSignUp" role="button" aria-expanded="false"
        aria-controls="multiCollapseExample1">
        <i class="material-icons">person_add</i>
        Sign up</button>

      
        <span class="h3 navbar-text ml-3" id="homeBtn"> Project Fitness</span>
      
    </span>

      <!-- Default dropleft button -->





        <!-- Default dropleft button -->


      <div class="btn-group dropleft" id="userDropdown">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{#if userData.name}}
          {{userData.name}}
          {{else}}
          {{name}}
          {{/if}}
        </button>
        <div class="dropdown-menu" id="profile-dropdown">
          <!-- Dropdown menu links -->
          <button class="dropdown-item routes" type="button">Signed in as {{userData.email}}</button>
          <button class="dropdown-item routes" href="/profile">Your account</button>
          <button class="dropdown-item routes" href="/bmi">Your body mass index</button>
          <button class="dropdown-item routes" href="/workouts/creator/{{userData.name}}">Your workouts</button>
          <button class="dropdown-item routes" href="/">Log out</button>
        </div>
      </div>

{{!-- <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#profileCollapse" aria-expanded="false" aria-controls="collapseExample">
  {{#if userData.name}}
    {{userData.name}}
  {{else}}
  profile
  {{/if}}

  </button> --}}
  </nav>
  <script>
    $("#userDropdown").hide();
    $("#profileCollapse").hide();
  </script> {{{body}}}

  <div class="footer" style="height:4%">
    <p>
      <a class="footer-links" href="https://github.com/ejohn156/Project2">Github repo</a>

    </p>
  </div>
  <script src="/js/signup.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/bmi.js"></script>
  <script>
    $("*").click(function (event) {
      event.preventDefault()
    });
  $("homeBtn").click(function(){
    event.preventDefault()
    location.replace("../profile")
    })
    
  </script>
</body>

</html>