<div class="containder">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3>Name:{{workoutData.workoutName}}</h3>
            <h6>Type: {{workoutData.workoutType}}</h6>
            <h6>Description:{{workoutData.workoutDes}}</h6>
            <h6>
                Exercises:
            </h6>
            <ul>

            </ul>

            <div class="card" style="width: 100%;">
                <div class="card-header">
                    Exercises
                </div>
                <ul class="list-group list-group-flush">
                    {{#each workoutData.workoutString}}
                    <li class="list-group-item">{{this.name}} + " " + {{this.comment}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>