<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 offset-md-2 mt-5">
            <div class="card">
                <div class="card-header">
                    <h4 style="text-align: center">
                        Profile Information
                        {{!-- <p>
                            <button type="button" class="btn btn-sm btn-light editProfile" id="editProfile" data-toggle="modal" data-target="#myModal">Edit</button>
                        </p> --}}
                    </h4>
                </div>
                <div class="userStats" style="text-align: center">
                    <h5>UserName: {{userData.name}}</h5>
                    <h5>Email: {{userData.email}}</h5>

                    {{#if userData.feet}}
                    <h5>Height: {{userData.feet}}ft {{userData.inches}}in</h5>
                    {{else}}
                    <h5>Height: must calculate your bmi</h5>
                    {{/if}}

                    {{#if userData.weight}}
                    <h5>Weight: {{userData.weight}}lb</h5>
                    {{else}}
                    <h5>Weight: must calculate your bmi</h5>
                    {{/if}}

                    {{#if userData.bmindex}}
                    <h5>Your BMI: {{userData.bmindex}}</h5>
                    {{else}}
                    <h5>Weight: must calculate your bmi</h5>
                    {{/if}}
                    <br>
                    <button type="button" class="btn btn-lg btn-light mb-2" style="width:90%;text-align:center;"id="update">Update</button>
                </div>
            </div>
        </div>

        <div class="col-md-3 offset-md-1 mt-5">

            <div class="card">
                <div class="card-header">
                    <h4 style="text-align: center">
                        Workouts
                    </h4>
                </div>
                <br>
                <button type="button" class="btn btn-lg btn-light" id="create">Create</button>
                <br>
                <button type="button" class="btn btn-lg btn-light" id="viewAll">View All Workouts</button>
                <br>
                <button type="button" class="btn btn-lg btn-light" id="viewMy" value={{userData.name}}>{{userData.name}}'s Workouts</button>
                <br>
            </div>
        </div>
        <div class="collapse col-md-2 offset-md-1 mt-0" id="profileCollapse">
            {{!-- <div class="card card-body">
                    <button class="dropdown-item routes" type="button">Signed in as {{userData.name}}</button>
                    <button class="dropdown-item routes" href="/profile">Your account</button>
                    <button class="dropdown-item routes" href="/bmi">Your body mass index</button>
                    <button class="dropdown-item routes" href="/workout">Your workouts</button>
                    <button class="dropdown-item routes" href="/">Log out</button>
            </div> --}}
        </div>
    </div>
</div>

<!-- edit user info modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <input type="text">
                    <input type="text">
                    <input type="text">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm update" id="update" data-dismiss="modal">Udpdate</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("*").click(function (event) {
        event.preventDefault()
    });
    $(".login").hide();
    $(".signUp").hide();
   // $("#profileCollapse").show();


    $(".profile").click(function () {
        $(".collapseLogin").toggleClass("show", false);
    });
    $("#userDropdown").css("display", "inline");

    $("#create").click(function (event) {
        event.preventDefault()
        location.replace("profile/workouts/create")
    })
    $("#viewAll").click(function (event) {
        event.preventDefault()
        location.replace("/workouts/all")
    })
    $("#viewMy").click(function (event) {
        event.preventDefault()
        var name = $("#viewMy").val()
        location.replace("/workouts/creator/" + name)
    })
    $("#update").click(function(event){
        event.preventDefault()
        
        location.replace("../bmi")
    })
</script>
