<div class="row" style=" margin-top:2%">

    <div class="col-md-3" style="margin-left: 1%">
        <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
                <form>
                    <li class="list-group-item">
                        <form>
                            <div class="active-orange-4 mb-4">

                                <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="searchBar">
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Search Category
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item"id="searchName">Name</a>
                                    <a class="dropdown-item" id="searchType">Type</a>
                                    <a class="dropdown-item" id="searchCreator">Creator</a>
                                    <a class="dropdown-item" id="searchAll">All</a>
                                </div>
                            </div>
                        </form>
                    </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-hover table-dark" style="width:90% text-align: center">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Creator</th>
                </tr>
            </thead>
            <tbody>
                {{#each workoutData}}
                <tr class="workoutRow" id={{this.id}}>
                    <td>{{this.workoutName}}</td>
                    <td>{{this.workoutType}}</td>
                    <td>{{this.workoutDes}}</td>
                    <td>{{this.creator}}</td>
                </tr>
                {{/each}}
            </tbody>
    </div>
</div>
<script>
    $("#userDropdown").css("display", "inline");
    $(".login").hide();
    $(".signUp").hide();
    $(".workoutRow").click(function (event) {
        event.preventDefault()
        
        var workoutId = $(this).attr("id")
        console.log(workoutId)
        location.replace("/workouts/ind/" + workoutId)
    })
    $("#searchName").click(function(event){
        event.preventDefault()
        var searchInfo = $("#searchBar").val().trim()
        location.replace("/workouts/name/"+searchInfo)
    })
    $("#searchType").click(function(event){
        event.preventDefault()
        var searchInfo = $("#searchBar").val().trim()
        location.replace("/workouts/type/"+searchInfo)
    })
    $("#searchCreator").click(function(event){
        event.preventDefault()
        var searchInfo = $("#searchBar").val().trim()
        location.replace("/workouts/creator/"+searchInfo)
    })
    $("#searchAll").click(function(event){
        event.preventDefault()
        location.replace("/workouts/all")
    })


</script>